@import url(./variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: url(../assets/img/backgrounds/main/2560x1600-terrain-wa.jpg) no-repeat center top / cover fixed;
    background-color: var(--raisin-black);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 3.4vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--raisin-black-transparent-50);
    transition: background-color 0.27s ease, backdrop-filter 0.27s ease;
    backdrop-filter: blur(0.27vw);
    box-shadow: 0 0.5vw 1vw var(--raisin-black-transparent-90);
}
.header img {
    width: 12vw;
    height: auto;
}
.header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.7vw;
}
.header nav ul li a {
    text-decoration: none;
    font-family: "cinzel-regular";
    font-size: 1.5vw;
    color: var(--columbia-blue);
}
.header__profile img{
    max-width: 2.5vw;
}
.header:hover {
    filter: brightness(1.2);
}
.header img:hover {
    content: url(../assets/img/logos/textLogo/textLogoTangBlue.png);
    filter: drop-shadow(0.02vw 0.027vw 0.42vw var(--columbia-blue-transparent-75));
}
.header nav ul li a:hover {
    color: var(--tang-blue);
    text-shadow: 0.02vw 0.027vw 0.5vw var(--columbia-blue-transparent-75);
}
.header__profile img:hover {
    content: url(../assets/icons/dragonTangBlue.svg);
    filter: drop-shadow(0.02vw 0.027vw 0.27vw var(--columbia-blue-transparent-75));
}

.main__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vw;
    width: 100%;
}
.main__logo img {
    width: 90vw;
    height: auto;
}
.main__logo:hover img {
    filter: brightness(1.1);
}

.span__anchor-tag {
    display: flex;
    padding: 0.5vw;
}

.div__default {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.7vw;
}
.div__default h1 {
    margin: 1.7vw 0 1vw 0;
    font-family: "medievalsharp-regular";
    font-size: auto;
    text-align: center;
    color: var(--tang-blue);
    text-shadow: 0.2vw 0.27vw 0.5vw var(--raisin-black-transparent-90);
}
.div__default p {
    font-size: 1.32vw;
    padding: 3vw 5vw;
    color: var(--columbia-blue);
    text-shadow: 0.2vw 0.27vw 0.5vw var(--raisin-black);
    background-color: var(--raisin-black-transparent-90);
    text-align: center;
    font-family: "cinzel-regular";
}

.button__default {
    position: relative;
    margin-top: 20px;
    width: 100%;
    max-width: 20vw;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__default img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
.button__default span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52.1%, -70%);
    color: var(--columbia-blue);
    font-family: "cinzel-regular";
    font-size: 2.1vw;
    text-shadow: 0.2vw 0.27vw 0.5vw var(--raisin-black);
    text-align: center;
    z-index: 1;
    white-space: nowrap;
}
.button__default:hover span {
    color: var(--tang-blue);
    text-shadow: 0.2vw 0.27vw 0.5vw var(--columbia-blue-transparent-75);
}

.span__center-quote {
    display: inline-block;
    text-align: center;
    font-family: "cinzel-bold";
}

.span__start-quote {
    display: inline-block;
    text-align: start;
}

.h1__dungeons-and-dragons {
    font-size: 5vw;
}
.h1__about-proyect {
    font-size: 5.2vw;
}
.h1__build-characters {
    font-size: 3.9vw;
}
.h1__character-list {
    font-size: 3.9vw;
}
.h1__tips {
    font-size: 3.7vw;
}
.h1__comunity {
    font-size: 5.2vw;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--raisin-black);
    color: var(--columbia-blue);
    font-family: "medievalsharp-regular";
    font-size: 0.9vw;
    text-align: center;
    padding: 0.2vw;
    z-index: 10;
}
footer a {
    color: var(--tang-blue);
    text-decoration: none;
}