@import url(./variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/img/dungeonsAndDragonsBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: ;
}
.header img{
    width: 120px;
}