:root{
    --raisin-black-75: rgba(43, 39, 47,  0.75);
    --purple-75:       rgba(106, 13, 133, 0.75);
    --fire-engine-red: #D0292A;
    --columbia-blue:   #D6EFFF;
    --raisin-black:    #2B272F;
    --dodger-blue:     #1E90FF;
    --tang-blue:       #0052D4;
    --sea-green:       #2E8B57;
    --icterine:        #FFFF58;
    --xanthous:        #EFBA47;
    --emerald:         #50C878;
    --purple:          #6A0D85;
}

@font-face {
    font-family: "charm-bold";
    src: url(../assets/fonts/Charm-Bold.ttf);
}
@font-face {
    font-family: "charm-regular";
    src: url(../assets/fonts/Charm-Regular.ttf);
}
@font-face {
    font-family: "cinzel-black";
    src: url(../assets/fonts/Cinzel-Black.ttf);
}
@font-face {
    font-family: "cinzel-bold";
    src: url(../assets/fonts/Cinzel-Bold.ttf);
}
@font-face {
    font-family: "cinzel-extra-bold";
    src: url(../assets/fonts/Cinzel-ExtraBold.ttf);
}
@font-face {
    font-family: "cinzel-medium";
    src: url(../assets/fonts/Cinzel-Medium.ttf);
}
@font-face {
    font-family: "cinzel-regular";
    src: url(../assets/fonts/Cinzel-Regular.ttf);
}
@font-face {
    font-family: "cinzel-semi-bold";
    src: url(../assets/fonts/Cinzel-SemiBold.ttf);
}
@font-face {
    font-family: "cinzel-variablefont";
    src: url(../assets/fonts/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: "diplomaticasc-regular";
    src: url(../assets/fonts/DiplomataSc-Regular.ttf);
}
@font-face {
    font-family: "homemadeapple-regular";
    src: url(../assets/fonts/HomemadeApple-Regular.ttf);
}
@font-face {
    font-family: "kings-regular";
    src: url(../assets/fonts/Kings-Regular.ttf);
}
@font-face {
    font-family: "lavishlyyours-regular";
    src: url(../assets/fonts/LavishlyYours-Regular.ttf);
}
@font-face {
    font-family: "lovelight-regular";
    src: url(../assets/fonts/LoveLight-Regular.ttf);
}