:root{
    --columbia-blue-transparent-75:  rgba(214, 239, 255, 0.75);
    --raisin-black-transparent-90:   rgba(43, 39, 47,  0.90);
    --raisin-black-transparent-75:   rgba(43, 39, 47,  0.75);
    --raisin-black-transparent-50:   rgba(43, 39, 47,  0.50);
    --tang-blue-transparent-50:      rgba(0, 82, 212, 0.50);
    --columbia-blue:                 #D6EFFF;
    --raisin-black:                  #2B272F;
    --tang-blue:                     #0052D4;
}

@font-face {
    font-family: "charm-regular";
    src: url(../assets/fonts/Charm-Regular.ttf);
}
@font-face {
    font-family: "cinzel-bold";
    src: url(../assets/fonts/Cinzel-Bold.ttf);
}
@font-face {
    font-family: "cinzel-regular";
    src: url(../assets/fonts/Cinzel-Regular.ttf);
}
@font-face {
    font-family: "medievalsharp-regular";
    src: url(../assets/fonts/MedievalSharp-Regular.ttf);
}