@import url(../variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

body {
    font-family: "cinzel-regular";
    background-color: var(--raisin-black);
    background: url(../../assets/img/backgrounds/structure.jpg) no-repeat center top / cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 3.4vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    background-color: var(--raisin-black-transparent-50);
    transition: background-color 0.27s ease, backdrop-filter 0.27s ease;
    backdrop-filter: blur(0.27vw);
    box-shadow: 0 0.5vw 1vw var(--raisin-black-transparent-90);
}
.header img {
    width: 12vw;
    height: auto;
}
.header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.7vw;
}
.header nav ul li {
    text-decoration: none;
    font-family: "cinzel-regular";
    font-size: 2.7vw;
    color: var(--columbia-blue);
}
.header__profile img{
    max-width: 2.5vw;
    content: url(../../assets/icons/dragonTangBlue.svg);
    filter: drop-shadow(0.02vw 0.027vw 0.27vw var(--columbia-blue-transparent-75));
}
.header:hover {
    filter: brightness(1.2);
}
.header img:hover {
    content: url(../../assets/img/logos/textLogo/textLogoTangBlue.png);
    filter: drop-shadow(0.02vw 0.027vw 0.42vw var(--columbia-blue-transparent-75));
}
.header__profile img:hover {
    content: url(../../assets/icons/dragonTangBlue.svg);
}


.register-container,
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--raisin-black-transparent-90);
    color: var(--columbia-blue);
    padding: 1.7vw;
    box-shadow: 0 0 0.7vw var(--raisin-black-transparent-75);
}

.o {
    margin: 3vw;
    color: var(--columbia-blue);
    font-size: 1.9vw;
    font-family: "cinzel-regular";
}
h2 {
    margin: 1.7vw 0 1vw 0;
    font-family: "medievalsharp-regular";
    font-size: 2.7vw;
    text-align: center;
    color: var(--tang-blue);
    text-shadow: 0.2vw 0.27vw 0.5vw var(--columbia-blue-transparent-75);
}

label {
    display: block;
    margin-top: 0.7vw;
    color: var(--columbia-blue);
    font-size: 1vw;
}

input, select {
    width: 100%;
    padding: 0.55vw;
    margin-top: 0.35vw;
    border: 0.07vw solid var(--tang-blue);
    background-color: var(--columbia-blue);
    color: var(--raisin-black);
    font-size: 1vw;
    font-family: "medievalsharp-regular";
}

input::placeholder, select {
    color: var(--raisin-black);
}

.button__default {
    position: relative;
    margin-top: 20px;
    width: 100%;
    max-width: 20vw;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__default img {
    width: 70%;
    height: auto;
    object-fit: contain;
    display: block;
}
.button__default span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52.1%, -70%);
    color: var(--columbia-blue);
    font-family: "cinzel-regular";
    font-size: 1.4vw;
    text-shadow: 0.2vw 0.27vw 0.5vw var(--raisin-black);
    text-align: center;
    z-index: 1;
    white-space: nowrap;
}
.button__default:hover {
    filter: drop-shadow(0.02vw 0.027vw 0.7vw var(--tang-blue-transparent-50));
}
.button__default:hover img {
    content: url(../../assets/icons/buttomWhiteAndBlue.svg);
}
.button__default:hover span {
    color: var(--tang-blue);
    text-shadow: 0.2vw 0.27vw 0.5vw var(--columbia-blue-transparent-75);
    filter: brightness(1.2);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--raisin-black);
    color: var(--columbia-blue);
    font-family: "medievalsharp-regular";
    font-size: 0.9vw;
    text-align: center;
    padding: 0.2vw;
    z-index: 10;
}
footer a {
    color: var(--tang-blue);
    text-decoration: none;
}